@import "tools.scss";

/* ---------- Variables ---------- */

$cWhite: #ffffff;
$cGrey1: #FAFAFA;
$cGrey2: #F0F0F0;
$cGrey3: #DBDBDB;
$cGrey4: #C2C2C2;
$cGrey5: #9E9E9E;
$cGrey6: #7A7A7A;
$cGrey7: #575757;
$cGrey8: #3D3D3D;
$cGrey9: #292929;
$cGrey10: #1F1F1F;
$cBlack: #000000;

$color: 230deg;
$cBrand: hsl($color,60%,44%);
$cBrand--100: hsl($color,30%,90%);
$cBrand--200: hsl($color,100%,90%);
$cBrand--300: hsl($color,67%, 56%);

/* ---------- Fonts ---------- */

@font-face {
  font-family: 'EuclidCircular';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/EuclidCircularA-Light.woff2') format('woff2'), 
}

@font-face {
  font-family: 'EuclidCircular';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/EuclidCircularA-Regular.woff2') format('woff2'), 
}

@font-face {
  font-family: 'EuclidCircular';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/EuclidCircularA-Medium.woff2') format('woff2'), 
}

@font-face {
  font-family: 'EuclidCircular';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/EuclidCircularA-SemiBold.woff2') format('woff2'), 
}

@font-face {
  font-family: 'EuclidCircular';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/EuclidCircularA-Bold.woff2') format('woff2'), 
}

/* ---------- Global Styles ---------- */

:global{

  body{
    font-family: 'EuclidCircular', sans-serif;
    background: linear-gradient(180deg, #FFFFFF 0%, $cBrand--100 100%), #FFFFFF;
    min-width: 400px;
    min-height: 100vh;
    height: 100%;
    position: relative;
  }

  /*----------------------------------*/
  
  .bedelay::before{
    content: "" !important;
    opacity: 1 !important;
    transition : all .2s linear;
    
  }

  .bedelay:hover::before{
    background: rgba(0, 0, 0, 0.3) url(/src/assets/imgs/comp_down-hover.svg) no-repeat !important;
    background-position: center !important;
    background-size: 200px!important;
  }

  .bedelayload::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-position: center;
    background-size: 80px auto;
    border-radius: 6px 6px 0 0 ;
    background: rgba(0, 0, 0, 0.3);
  }
  
}
